
.White {
    background-color:White;
}
.AliceBlue {
    background-color:AliceBlue;
}
.Azure {
    background-color:Azure;
}
.Chartreuse {
    background-color:Chartreuse;
}
.Cornsilk {
    background-color:Cornsilk;
}
.Cyan {
    background-color:Cyan;
}
.GhostWhite {
    background-color:GhostWhite;
}

.row {
    margin: 100px;
    text-align: center;
    padding: 10px;
    border: 1px solid rebeccapurple;
    width: 450px;

}

.btn {
    width: 150px;
    height: 36px;
    color: white;
    background: rebeccapurple;
    border: 1px solid rgba(0,0,0,.1);
    margin-top: 10px;
}

.btn:hover {
    color: rgb(24,24,24);
    border: 1px solid rgb(198,198,198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.btn:active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
h2  {
    display: inline-block;
    border: 1px solid rebeccapurple;
    padding: 10px;
}