.experience{
  margin: 0 7%;
  background-color: var(--main-color);
  color:var(--main-text);
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 5fr;
  }
  
.experience>article>h2{
    margin: 0.5em;
    font-size:1.5em;
    text-align: center;
  }

.experience>article>p{
    margin: 0.5em;
    font-size:1em;

  }

.experience>article>p>a{
    color: #800080;
    font-size: 1.2em;
  }
.experience>article{
    padding: 1.5em;
  }