.skills{
  margin: 1% 7%;
  background-color: var(--main-color);
  color:var(--main-text);
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 1fr;
  }
  
.skills>article> h2, p{
    color: var(--main-text);
  }
  section.skills>article>p{
  text-align: center;
  }
 
  
.skills > article> h2 {
    margin: 0.5em;
    font-size:1.5em;
    text-align: center;
  }

  .skills>article{
   padding: 1% 0;
  }